export DB_USER="iris"
export DB_PASSWORD="iris"
export DB_HOST="localhost"
export DB_PORT="5432"
export DB_NAME="iris"

# WildFly datasource galleon pack expects these env vars
export POSTGRESQL_USER="iris"
export POSTGRESQL_PASSWORD="iris"
export POSTGRESQL_DATABASE="iris"
export POSTGRESQL_HOST="localhost"
export POSTGRESQL_PORT="5432"
